/* * {
  background-color: #1f1d1d;
}  */

.MuiBox-root,.MuiStack-root,.Container{
  position: relative;
  background-image: url('https://wallpaperaccess.com/full/1398439.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.MuiPaper-root,.MuiToolbar-root{
  background: #141414;
}

video{
  border-radius: 2rem;
}

.buttons{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.loaderContainer{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000082;
}

.loader{
    width: 120px;
    height: 120px;
    margin: auto;
    position: absolute;
    bottom: 50%;
    right: 50%;
    border-radius: 50%;
    border: 8px dashed white;
    border-top: 8px solid #1976d2;
    animation: rotate 0.8s infinite;
}

.Container{
  background-color: #1f1d1d;
  width: 100%;
  height: 100vh;
}

.card{
  width: 100%;
  display: flex;
  color: white;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.loaderContainer .inner{
  width: 60px;
  height: 60px;
  animation: rotateReverse 0.8s infinite;
}

@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}


@keyframes rotateReverse {
  0%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.navButton{
  margin-left: 3rem;
  border: none;
  padding: 10px;
  color: white;
  font-size: 16px;
  background: transparent;
  border-radius: 6px;
  transition: all .3s ease-in-out;
}

.navButton:hover{
  background: #2880d7;
}

.inputArea{
  padding: 10px;
  margin: 6px;
  border-radius: 10px;
  border: none;
  width: 200px;
  font-weight: 700;
  font-size: 15px;
}


